body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: end;
}

.hover-div {
  position: relative;
  background-color: rgb(224, 163, 163);
  padding: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* border: 1px solid; */
  /* border: 2px solid red; */
  border: 2px solid yellow;

}

.hidden-div {
  display: none;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #ccc;
  padding: 10px;
}

/* .one {
    top: 0;
    left: -100%
  } */

.hover-div:hover ~ .hidden-div {
  display: block;
}

.mainContainer {
  border: 2px solid red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.subContainerOne {
  position: absolute;
  border: 2px solid green;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0%;
  transform: translate(-45px, 40px);
  display: none;
  transition-duration: 2s;
}
.subContainerTwo {
  position: absolute;
  border: 2px solid green;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0%;
  transform: translate(-30px, -20px);
  display: none;
  transition-duration: 2s;
}
.subContainerThree {
  position: absolute;
  border: 2px solid green;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0%;
  transform: translate(96px, -20px);
  display: none;
  transition-duration: 2s;
}
.subContainerFour {
  position: absolute;
  border: 2px solid green;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0%;
  transform: translate(110px, 40px);
  display: none;
  transition-duration: 2s;
}
/* .subDiv{
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.mainContainer:hover .subDiv{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* .mainContainer:hover{
  background-color: red;
  color: #fff
} */

